$cor-botao-padrao: #FFF;
$cor-bg-botao-padrao: #19B3E6;
$cor-botao-active: #ffffff;
$cor-bg-botao-active: rgba(54, 184, 255, 0.501);
$cor-botao-hover: #FFF;
$cor-bg-botao-hover: #19b3e6d4;

@import 'botao'