@font-face {
  font-family: 'RobotoMono';
  src: url('fonts/RobotoMono-Thin.ttf');
}

*::before, *, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'RobotoMono', monospace;
}

body{
  height: 100vh;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
}

h1{
  margin-bottom: 20px;
}