.display{
    display: flex;
    justify-content: right;
    align-items: center;

    padding-right: 20px;

    grid-column: span 4;
    background-color: rgba(0, 0, 0, 0.467);

    font-size: 1.7em;

    overflow: hidden;
}