* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 30px;
  min-height: 100vh;
}

.btn-back {
  background-color: crimson;
  border: none;
  margin: 5px 0px;

  width: fit-content;
  height: fit-content;

  border-radius: 7px;
  display: flex;
}
.btn-back:hover {
  background-color: rgb(189, 20, 54);
}

.btn-back a {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;

  border-radius: 7px;
}
:root{
  --active: rgb(30, 132, 235);
}

.sussessfuly{
  position: absolute;
  margin: auto;
  width: 200px;
  height: 170px;
  background-color: #fff;
}

input{
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #fff;
  height: 30px;
  color: #fff;
  padding: 18px 15px;
}

button{
  background-color: rgb(63, 130, 255);
  border-radius: 30px;
  height: 40px;
  border: none;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

button:hover{
  background-color: rgb(49, 112, 230);
}