<mat-card>
    <mat-card-title>Are you sure you want delete this?</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" name="name" disabled [value]="product.name" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" name="price" disabled [value]="product.price" />
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteProduct()" color="warn">
        Sim
    </button>
    <button mat-raised-button (click)="cancel()" color="secondary">
        Cancelar
    </button>
</mat-card>
<p>This action is irreversible</p>