aside.menu-area{
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: column;

    box-shadow: var(--shadow-2);
}

.menu a{
    display: block;
    text-decoration: none;
    
    color: #fff;
    padding: 15px;

    font-weight: 300;
}

.menu a:hover{
    background: linear-gradient(135deg, #07a8e362 0%, #32dac471 100%);
}

@media(max-width: 768px){
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        justify-content: space-around;
    }

    .menu a{
        display: inline;
        padding: 10px;
        margin: 0;
    }

}