.calculator{
    height: 320px;
    width: 235px;

    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(116, 128, 158, 0.494); /*Temporario*/

    box-shadow: 0 0 16px #1212121c;
}

