.calculator{
    height: 320px;
    width: 235px;

    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(116, 128, 158, 0.494); /*Temporario*/

    box-shadow: 0 0 16px #1212121c;

    display: grid;
    grid-template-columns: repeat(4,  25%); /*4 colunas * de cada uma 25%*/
    grid-template-rows: 48px 48px 48px 48px 48px;
}

