.sidenav{
    width: 200px;
    background-color: #121212;
    background-color: #3F51B5;
}

.sidenav a {
    color: #fff;
}

.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #fff;
}